<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.mirror-labs.Epilepsy-Research-Kit.watchkitapp.watchkitextension</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MirrorHR - Epilepsy Research Kit WatchKit App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>61</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>Epilepsy Research Kit needs to read your health data to provide you alerts &amp; insights that may help you better manage your seizures.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Epilepsy Research Kit needs to read your health data to provide you alerts &amp; insights that may help you better manage your seizures.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Epilepsy Research Kit needs to read your location data to provide you alerts and insights that may help you better manage your seizures.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>WKApplication</key>
	<true/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>com.mirror-labs.Epilepsy-Research-Kit</string>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<false/>
</dict>
</plist>
